<!DOCTYPE html>
<html lang="en">
<%- include("partials/_head.ejs") %>

  <body>
    <%- include("partials/_nav.ejs") %>
      <div id="trackCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner vh-50">
          <div class="carousel-item active">
            <img src="<%= car.image %> " class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-2">
            <ul class="list-group mt-5">
              <a href="/profile/<%= car.username.id %> ">
                <li class="list-group-item">Owner: <%= car.username.firstName %>
                    <%= car.username.lastName %>
                </li>
              </a>
              <li class="list-group-item">Make: <%= car.make %>
              </li>
              <li class="list-group-item">Model: <%= car.model %>
              </li>
              <li class="list-group-item">Tire: <%= car.tire %>
              </li>
              <li class="list-group-item">Mods: <%= car.modifications %>
              </li>
              <% if(user.id==car.username.id) { %>
                <li class="list-group-item d-flex justify-content-around">
                  <a class="btn btn-primary" href="/laptime/new">Add Laptime</a>
                </li>
                <% }%>
            </ul>
          </div>
          <div class="col-9">
            <div class="container">
              <div class="row row-cols-3">
                <% lapTimes.forEach(allLapTimes=> { %>
                  <% if(allLapTimes.car==car.id ) { %>
                    <div class="col">
                      <div class="card m-4" style="width: 18rem;">
                        <a href="/track/<%= allLapTimes.track.id %> ">
                          <img src="<%= allLapTimes.track.icon %>" class="card-img-top " alt="icon">
                        </a>
                        </a>
                        <div class="card-body">
                          <h5 class="card-title">
                            <%= allLapTimes.track.name%>
                          </h5>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            <!-- DISPLAY TIMES -->
                            <%= allLapTimes.convertedTime%> (min:sec)
                          </li>
                          <li class="list-group-item">
                            <%=allLapTimes.date.toDateString()%>
                          </li>
                        </ul>
                          <% if(user.id==car.username.id) { %>
                            <div class="card-footer">
                              <a class="btn btn-primary" href="/laptime/edit/<%= allLapTimes.id %>"
                                role="button">Edit</a>
                              <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal-<%= allLapTimes.id %>">
                                Delete
                              </button>
                            </div>
                          <% }%>
                      </div>
                    </div>
                    <!-- DELETE MODAL for car -->
                    <div class="modal fade" id="exampleModal-<%= allLapTimes.id %>" tabindex="-1"
                      aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">DELETE LAP TIME</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Are you sure you want to delete your laptime of <%=allLapTimes.minutes%>:<%=
                                allLapTimes.seconds%> with the <%= car.make %>
                                  <%= car.model %> ?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                            <form action="/laptime/<%= allLapTimes.id %>?_method=DELETE" method="POST">
                              <input type="submit" class="btn btn-danger" value="DELETE">
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% } %>
                      <% }) %>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>

</html>