<!DOCTYPE html>
<html lang="en">
  <%- include("partials/_head.ejs") %> 

  <body>
    <%- include("partials/_nav.ejs") %>
    <div class= "registerForm mt-4 container-fluid">
      <form action="/profile/<%= user.id %>/edit?_method=PUT" method="POST">
        <div>
          <label for="validationDefault01" class="form-label">First Name</label>
          <input type="text" name="firstName" class="form-control" id="validationDefault02" value="<%= user.firstName %> " required>
        </div>
        <div>
          <label for="validationDefault01" class="form-label">Last Name</label>
          <input type="text" name="lastName" class="form-control" id="validationDefault02" value="<%= user.lastName %>" required>
        </div>
        <div>
          <label for="validationDefault03" class="form-label">Username</label>
          <input type="text" name="username" class="form-control" id="validationDefault03" value="<%= user.username %>" required>
        </div>
        <div>
          <label for="validationDefault04" class="form-label">E-Mail</label>
          <input type="email" name="email" class="form-control" id="validationDefault04" value="<%= user.email %>" required>
        </div>
        <div>
          <label for="validationDefault05" class="form-label">Avatar</label>
          <input type="text" name="avatar" class="form-control" id="validationDefault05" value="<%= user.avatar %>" required>
        </div>
        <div class="mt-4">
          <button class="btn btn-primary" type="submit">Update Profile</button>
          <a class="btn btn-primary" href="/profile/<%= user.id %> " role="button">Cancel</a>
        </div>
      </form>
    </div>
  </body>


</html>