<!DOCTYPE html>

<%- include("partials/_head.ejs") %> 

<body>
  LAPTIME NEW BABY
  <%- include("partials/_nav.ejs") %> 
  <form action="/laptime/new" method="POST">

    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">USER</span>
      <input type="text" class="form-control" name="user" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="<%= user.id %>">
    </div>

    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">CAR</span>
      <select class="form-select" name="car" aria-label="Default select example">
        <option selected disabled hidden value="">Select Your Car</option>
        <% cars.forEach(foundCars => { %> 
        <option value="<%= foundCars.id %>">
          <%= foundCars.make %> <%= foundCars.model%>  
        </option>
        <% }) %> 
      </select>
    </div>

    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">TRACK</span>
      <select class="form-select" name="track" aria-label="Default select example">
        <option selected disabled hidden value="">Select Your Track</option>
        <% tracks.forEach(allTracks => { %> 
        <option value="<%= allTracks.id %>">
          <%= allTracks.name %>  
        </option>
        <% }) %> 
      </select>
    </div>

    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">TIME</span>
      <input type="number" class="form-control" name="minutes" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"> :
      <input type="number" class="form-control" name="seconds" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>

    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">DATE</span>
      <input type="date" name="date" class="form-control" name="modifications" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    
    <button type="submit" class="btn btn-primary mt-1">Create Lap</button>

  </form>
</body>