<!DOCTYPE html>

<%- include("partials/_head.ejs") %> 

<body>
  <%- include("partials/_nav.ejs") %> 
  <div class= "registerForm mt-4 container-fluid">
  <form action="/laptime/new" method="POST">
    <div class="input-group input-group-sm mb-3">
      <input type="hidden" class="form-control" name="user" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="<%= user.id %>">
    </div>

    <div class="input-group input-group-sm mb-3">
      <span for="validationDefault01" class="input-group-text" id="inputGroup-sizing-sm">CAR</span>
      <select class="form-select" name="car" aria-label="Default select example">
        <option selected disabled hidden value="">Select Your Car</option>
        <% cars.forEach(foundCars => { %> 
        <option value="<%= foundCars.id %>">
          <%= foundCars.make %> <%= foundCars.model%>  
        </option>
        <% }) %> 
      </select>
    </div>

    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">TRACK</span>
      <select class="form-select" name="track" aria-label="Default select example">
        <option selected disabled hidden value="">Select Your Track</option>
        <% tracks.forEach(allTracks => { %> 
        <option value="<%= allTracks.id %>">
          <%= allTracks.name %>  
        </option>
        <% }) %> 
      </select>
    </div>

    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm" for="validationDefault04">TIME</span>
      <input type="number" class="form-control" name="minutes" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" for="validationDefault04" required> :
      <input type="number" class="form-control" name="seconds" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" for="validationDefault04" required>
    </div>

    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">DATE</span>
      <input type="date" name="date" class="form-control" name="modifications" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" required>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Create Lap</button>
      <a class="btn btn-primary" onclick="history.back(-1)" role="button">Cancel</a>
    </div>
  </form>
</div>
</body>