<!DOCTYPE html>
<html lang="en">

<%- include("partials/_head.ejs") %>

  <body>
    <%- include("partials/_nav.ejs") %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-2 m-4 p-2">
            <img class="img-thumbnail border-0" src="<%= user.avatar %> " alt="avatar">
            <ul class="list-group mt-5">
              <li class="list-group-item">
                <%= user.lastName %>, <%= user.firstName %> || <%= user.username %> 
              </li>
              <li class="list-group-item">
                <%= user.email %>
              </li>
            </ul>
            <% if( currentUser == user.id) { %>
              <div class="card-footer">
                <div class="d-flex justify-content-around mb-1">
                  <a class="btn btn-primary" href="/profile/<%= user.id %>/edit " role="button">Edit</a>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#exampleModal-<%= user.id %>">
                    Delete
                  </button>
                </div>
                <div class="d-flex justify-content-around">
                  <a class="btn btn-primary" href="/profile/car/new">Add Car</a>
                </div>
              </div>
            <% } %> 

            <!-- DELETE MODAL for Profile -->
            <div class="modal fade" id="exampleModal-<%= user.id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Your Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Hey <strong>
                      <%= user.firstName %>
                        <%= user.lastName %>
                    </strong>, are you sure you want to delete your account ?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                    <form action="/profile/<%= user.id %>?_method=DELETE" method="POST">
                      <input type="submit" class="btn btn-danger" value="DELETE">
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-9">
            <div class="container">
              <div class="row row-cols-3">
                <% cars.forEach(allCars=> { %>
                  <% if(allCars.username==user.id ) { %>
                    <div class="col">
                      <div class="card m-4" style="width: 18rem;">
                        <a href="/profile/car/<%= allCars.id %> ">
                          <img src="<%= allCars.image %>" class="card-img-top " alt="icon">
                        </a>
                        <div class="card-body">
                          <h5 class="card-title">
                            <%= allCars.model %>
                          </h5>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            <%=allCars.make%>,
                              <%=allCars.tire%>
                          </li>
                          <li class="list-group-item">
                            <%=allCars.modifications%>
                          </li>
                        </ul>
                        <% if(user.id == allCars.username) {%> 
                        <div class="card-footer">
                          <a class="btn btn-primary" href="/profile/car/edit/<%= allCars.id %> " role="button">Edit</a>
                          <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal-<%= allCars.id %>">
                            Delete
                          </button>
                        </div>
                        <% } %> 
                      </div>
                    </div>

                    <!-- DELETE MODAL for car -->
                    <div class="modal fade" id="exampleModal-<%= allCars.id %>" tabindex="-1"
                      aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">DELETE CAR</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Are you sure you want to delete your <strong>
                              <%= allCars.make %>
                                <%= allCars.model %>
                            </strong> ?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                            <form action="/profile/car/<%= allCars.id %>?_method=DELETE" method="POST">
                              <input type="submit" class="btn btn-danger" value="DELETE">
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% } %>
                      <% }) %>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>

</html>