<!DOCTYPE html>
<html>
<%- include("partials/_head.ejs") %>

  <body>
    <%- include("partials/_nav.ejs") %>
      <div id="trackCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner vh-50">
          <div class="carousel-item active">
            <img
              src="<%= track.image %> "
              class="d-block w-100" alt="...">
          </div>
          </div>
        </div>

      </div>
      <div class="container">
        <div class="row">
          <div class="col-4">
            <ul class="list-group mt-4">
              <li class="list-group-item d-flex">Name: <%= track.name %>
              </li>
              <li class="list-group-item">City: <%= track.city %>
              </li>
              <li class="list-group-item">State: <%= track.state %>
              </li>
              <li class="list-group-item">Length: <%= track.length %> miles
              </li>
              <li class="list-group-item">
                <a class="btn btn-primary" href="/laptime/new">Add Laptime</a>
              </li>
            </ul>
          </div>
          <div class="col-8">
            <% lapTimes.forEach((allLapTimes,index) => { %>
              <ul class="list-group mt-4 ">
                <a href="/profile/car/<%= allLapTimes.car.id %> ">
                  <li class="list-group-item track-list">
                    <%= index+1 %>.
                    <%= allLapTimes.user.firstName%>
                      <%= allLapTimes.user.lastName%> --
                        <%= allLapTimes.car.make %> --
                          <%= allLapTimes.car.model %> --
                            <%= allLapTimes.car.tire %> --
                              <%= allLapTimes.date.toDateString() %> --
                                <%= allLapTimes.convertedTime %> (min:sec)
                  </li>
                </a>
              </ul>
                <% }) %>
          </div>
        </div>
      </div>
  </body>

</html>